<h1>This is home page</h1>

<%= link_to 'Alpha-blog', articles_path %> <br />
<%= link_to 'About', about_path %>


    <h2 style="text-align:center;">It is my page</h2>

    <p style="text-align:center;"><img style="text-align:center;" src="http://udivitelno.com/images/14/sinij-kit-zhivotnoe-ili-ryba-13-foto/2-%D0%A1%D0%B8%D0%BD%D0%B8%D0%B9%20%D0%BA%D0%B8%D1%82%20-%20%D1%80%D1%8B%D0%B1%D0%B0%20%D0%B8%D0%BB%D0%B8%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D0%BE%D0%B5.jpg" alt="Whale">
    </p>
    <table style="width:100%">
      <tr style="text-align:center;">
        <td style="text-align:center;">
          <h2>Hello</h2> <h5> Pall</h5> <b> Nike </b>
        </td>
        <td style="text-align:center;">
          <h3>Hello</h3> <h1> Pall</h1> <b> Nike </b>
        </td>
      </tr>
    </table>
