<div class="jumbotron text-center mt-5 mx-5" id="jumbotron_home">
  <h1 class="display-4">ALPHA BLOG</h1>
  <hr class="my-4">
  <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Sign up</a>
</div>
