$dark: #9E9E9E;

@import "bootstrap";

#logo {
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #fff;
  font-size: 25px;
}

.jumbotron {
  background-image: asset-url('cover-image.jpg');
  background-size: cover;
  height: 800px;
}

.jumbotron h1 {
  font-weight: bold;
  letter-spacing: -0.5px;
}

.jumbotron hr {
  width: 23%;
}
